4MediaPlayer/4MediaPlayer/obj/Debug/_4MediaPlayer.Properties.Resources.resources
4MediaPlayer/4MediaPlayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
4MediaPlayer/4MediaPlayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
4MediaPlayer/4MediaPlayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
4MediaPlayer/4MediaPlayer/obj/Debug/MediaItem.g.i.cs
4MediaPlayer/4MediaPlayer/obj/Debug/MediaItem.g.cs
4MediaPlayer/4MediaPlayer/obj/Debug/MediaItem.baml
4MediaPlayer/4MediaPlayer/obj/Debug/MainWindow.g.i.cs
4MediaPlayer/4MediaPlayer/obj/Debug/MainWindow.g.cs
4MediaPlayer/4MediaPlayer/obj/Debug/MainWindow.baml
4MediaPlayer/4MediaPlayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
4MediaPlayer/4MediaPlayer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
4MediaPlayer/4MediaPlayer/obj/Debug/App.g.i.cs
4MediaPlayer/4MediaPlayer/obj/Debug/App.g.cs
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer_MarkupCompile.lref
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer_MarkupCompile.cache
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer.pdb
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer.g.resources
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer.exe
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer.csprojAssemblyReference.cache
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer.csproj.GenerateResource.cache
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer.csproj.FileListAbsolute.txt
4MediaPlayer/4MediaPlayer/obj/Debug/4MediaPlayer.csproj.CoreCompileInputs.cache
4MediaPlayer/4MediaPlayer/bin/Debug/4MediaPlayer.pdb
4MediaPlayer/4MediaPlayer/bin/Debug/4MediaPlayer.exe.config
4MediaPlayer/4MediaPlayer/bin/Debug/4MediaPlayer.exe
4MediaPlayer/.vs/4MediaPlayer/v15/Server/sqlite3/storage.ide-wal
4MediaPlayer/.vs/4MediaPlayer/v15/Server/sqlite3/storage.ide-shm
4MediaPlayer/.vs/4MediaPlayer/v15/Server/sqlite3/storage.ide
4MediaPlayer/.vs/4MediaPlayer/v15/Server/sqlite3/db.lock
4MediaPlayer/.vs/4MediaPlayer/v15/.suo
